@model LinkedList<PathSection>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_content" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=@Url.Action("Index", "Home")>Knowledge Map</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar_content">
            <!-- Here I will include the path to the current topic. -->
            @if (Model != null && Model.Count != 0)
            {
                <ul class="nav navbar-nav">
                    @{var current = Model.First;}
                    @while (current.Next != null)
                    {
                        <li>
                            @Html.ActionLink(@current.Value.TopicName, "Topic", "Home", new { current.Value.TopicName, current.Value.TopicId }, null)
                        </li>
                        current = current.Next;
                    }
                    <li class="active">
                        @Html.ActionLink(@current.Value.TopicName, "Topic", "Home", new { current.Value.TopicName, current.Value.TopicId }, null)
                    </li>
                </ul>
            }
            <div class="navbar-right">
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
                {
                    <fieldset disabled>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" />
                                </button>
                            </span>
                        </div>
                    </fieldset>
                }
                <a class="btn btn-default navbar-btn" href=@Url.Action("Upload", "CustomResource")>
                    <span class="glyphicon glyphicon-arrow-up" />
                </a>
            </div>
        </div>
    </div>
</nav>
@* TODO [CHECK] I don't like this absolute value, but it solves my problem. I also don't like to specify styles nor the empty div *@
@*  If I use a self-closing div, then it won't have the desired effect. *@
<div style="margin-bottom: 60px;"></div>