<?xml version="1.0"?>

<configuration>
  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="KnowledgeMap.Application.Mvc.Home.ViewModels"/>
        <add namespace="KnowledgeMap.Application.Mvc.Home.Infrastructure"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>