/* Allow a good styling of the remove button for each subtopic and reference. */
table.list-group {
    width: 100%;
}

table.list-group  td.list-group-content-cell {
    width: 98%;
}

#references button.refRemoveBtn,
#subtopics button.topicRemoveBtn {
    width: 100%;
    height: 100%;
    vertical-align: top;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}